  <div id="infobulle-<%= event.id %>" class="infobulle">
    <div class="title-close">
      <i class="fas fa-times close-infobulle"></i>
      <h1><%= event.title %></h1>
    </div>
    <h2><strong><%= event.date.strftime("%B %d, %Y") %></strong> | <%= event.address %></h2>
    <div><p><%= event.content %></p></div>
    <% unless event.photo_url.blank? %>
      <div class="separator-line text-center"></div>
      <div class="text-center"><%= image_tag(event.photo_url, class: 'image-infobulle') %></div>
    <% end %>
  </div>
