  <div id="infobulle-<%= event.id %>" class="infobulle">
    <div class="title-close">
      <i class="fas fa-times close-infobulle"></i>
      <h1><%= event.title %></h1>
    </div>
    <h2><strong><%= event.date.strftime("%B %d, %Y") %></strong> | <%= event.address %></h2>
    <div class="event-content-container">
      <div><%= image_tag(event.photo_url, class: 'image-infobulle') %></div>
      <p class="event-description"><%= event.content %></p>
    </div>
    <%# unless event.photo_url.blank? %>
    <%# end %>
  </div>
