<div class="form-container">
  <%= simple_form_for [@block, @event] do |f| %>
    <%= f.input :title, label: false, placeholder: "TITLE" %>
    <%= f.input :content, label: false, placeholder: "CONTENT" %>
    <%= f.input :date, label: false, placeholder: "DATE" %>
    <%= f.input :photo_url, label: false, placeholder: "URL PHOTO" %>
    <%= f.input :address, label: false, placeholder: "ADDRESS" %>
    <%= f.submit "UPDATE" ,class: "mysubmit" %>
  <% end %>
</div>
