<div class="form-container">
  <%= simple_form_for [@block, @event] do |f| %>
    <%= f.input :title, label: false, placeholder: "TITLE", input_html: { class: 'myclass' } %>
    <%= f.input :content, label: false, placeholder: "CONTENT", input_html: { class: 'myclass' } %>
    <%= f.input :date, label: false, placeholder: "DATE", input_html: { class: 'myclass' } %>
    <%= f.input :photo_url, label: false, placeholder: "URL PHOTO", input_html: { class: 'myclass' } %>
    <%= f.input :address, label: false, placeholder: "ADDRESS", input_html: { class: 'myclass' } %>
    <%= f.submit "UPDATE" ,class: "mysubmit" %>
  <% end %>
</div>
