<div id="myoverlay" class="overlay">
  <div class="overlay-container">
    <span class="closebtn" title="Close Overlay"><i class="fas fa-times"></i></span>
    <div class="overlay-content">
      <% story = @story if @story %>
      <%= simple_form_for story, remote: true do |f| %>
        <%= f.input :title, label: false, placeholder: "TITLE", input_html: { class: 'myclass' } %>
        <%= f.input :description, label: false, placeholder: "DESCRIPTION", input_html: { class: 'myclass' } %>
        <%= f.input :photo_url, label: false, placeholder: "PHOTO URL", input_html: { class: 'myclass' } %>
        <div class="text-right">
          <%= f.submit class: "btn-lg btn-storymap btn-storymap-blue text-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
