<div id="info-div">
  <div class="show-event-div">
    <%= image_tag event.photo_url, class: 'event-img' %>
    <div class="show-event-info">
      <div class="event-buttons">
        <%= link_to "Edit", edit_event_path(event), class: 'btn-storymap btn-storymap-green text-center', remote: true %>
        <%= link_to "Delete",
          event_path(event),
          class: 'link-red',
          method: :delete,
          data: { confirm: "Are you sure?"},
          remote: true %>
      </div>
      <div id="title"><%= event.title %></div>
      <div id="infos"><strong><%= event.date.strftime("%B %d, %Y") %></strong> | <%= event.address %></div>
      <div id="event-description"><%= event.content %></div>
    </div>
  </div>
</div>
