<% content_for :meta_title, "#{DEFAULT_META["meta_title"]}" %>

<%= render 'shared/navbar' %>

<div id="home-container">

  <div id="home-head">
    <div class="head-text-container">
      <div class="head-text">
        <h1>Tell Stories</h1>
        <h3>through Time and Space</h3>
        <p>Use StoryMap to make your story visual.</p>
      </div>
      <div class="head-link">
        <%= link_to "Start building your StoryMap", new_story_path, class: "btn-lg btn-storymap btn-storymap-green text-center" %>
        <%= link_to "Browse stories", stories_path, class: "btn-lg btn-storymap btn-storymap-blue text-center" %>
      </div>
    </div>
    <div class="head-picture">
      <%= image_tag "pic-head.svg", height: 450 %>
    </div>
  </div>

  <div id="wrapper-blue">
    <div class="container-media">
      <div class="media-top"></div>
      <div class="gif-container main-image">
        <%= image_tag "gif 4.gif", width: 980, height: 549 %>
      </div>
      <div class="media-bottom"></div>
    </div>
    <%= image_tag "wave.svg", id: "wave" %>
  </div>

  <div id="steps">
    <h2 class="text-center">How to build your StoryMap</h2>
    <div class="step">
      <%= image_tag "step_1.svg" %>
      <div class="step-text">
        <h3>1. Create your StoryMap</h3>
        <p>Pick a story that you're passionate about and illustrate it with a picture of your choice.</p>
      </div>
      <div class="gif-container">
        <%= image_tag "Gif 1.gif" %>
      </div>
    </div>
    <div class="step">
      <%= image_tag "step_2.svg" %>
      <div class="gif-container">
        <%= image_tag "Gif 2.gif" %>
      </div>
      <div class="step-text">
        <h3>2. Add blocks to your story</h3>
        <p>Divide your story into main sections and choose their order of appearance.</p>
      </div>
    </div>
    <div class="step">
      <%= image_tag "step_3.svg" %>
      <div class="step-text">
        <h3>3. Add events inside your blocks</h3>
        <p>Fill your blocks with mindblowing events and customize your map with a variety of cool features. Now take a look at the final result.</p>
      </div>
      <div class="gif-container">
        <%= image_tag "gif 3.gif" %>
      </div>
    </div>
    <div id="last" class="step">
      <%= image_tag "step_4.svg" %>
      <div class="step-text text-center">
        <h3>4. Share your story!</h3>
        <p>Happy with your story? Go ahead and publish it to show it to the world!</p>
      </div>
    </div>
  </div>

  <div id="home-end">
    <%= image_tag "book.svg", height: 200 %>
    <div class="end-text-container">
      <h3>Ready to build your Story?</h3>
      <div class="head-link">
        <%= link_to "Build", new_story_path, class: "btn-lg btn-storymap btn-storymap-green text-center" %>
      </div>
    </div>
  </div>

</div>
