<% content_for :meta_title, "Edit - #{@story.title} | #{DEFAULT_META["meta_product_name"]}" %>


<div class="edit-page">
  <%= render 'components/burger' %>
  <div
    id="map"
    data-markers="<%= @all_markers.to_json %>"
    data-zones="<%= @all_zones.to_json %>">
  </div>
  <div class="story-edit-div">
    <div class="story-edit-container-head" style='background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url("<%= story_picture(@story)%>");'>
      <div class="story-head">
        <h4>
          <%= link_to edit_story_details_path(@story), remote: true do %>
            <%= @story.title %>
          <% end %>
        </h4>
      </div>
      <div class="story-options">
        <%= link_to "Show", story_path(@story), class: 'btn-storymap btn-storymap-green text-center' %>
        <%= link_to "Publish", publish_story_path(@story), class: 'btn-storymap btn-storymap-blue text-center' %>
      </div>
    </div>
    <div class="full-list">
      <ul id="blocks-list" class="list-unstyled">
        <% @blocks.sort_by{|b| b.position}.each do |block| %>
          <%= render 'block', block: block %>
        <% end %>
      </ul>
      <%= link_to new_story_block_path(@story), class: 'link-green', remote: true do %>
        <i class="fas fa-plus"></i>
        <span>Add a block</span>
      <% end %>
    </div>
  </div>
</div>
