<% content_for :meta_title, "#{@story.title} | #{DEFAULT_META["meta_product_name"]}" %>

<%= render 'components/burger' %>

<div
  id="map"
  data-markers="<%= @all_markers.to_json %>"
  data-zones="<%= @all_zones.to_json %>">
</div>

<%#= link_to "Home", root_path, class:'btn-storymap btn-storymap-green text-center zindex-top' %>
<%= render 'components/sidebar' %>
<%= render 'components/timeline' %>
<% @story.blocks.each do |block| %>
  <% block.events.each do |event| %>
    <%= render 'components/infobulle', event: event %>
  <% end %>
<% end %>



