<%= render 'shared/navbar' %>

<div class="wrapper-new">
  <div class="container">
    <h1 class="text-font">Create a custom zone</h1>

    <div class="form-container">
      <%= simple_form_for @zone do |f| %>
        <%= f.input :country, as: :string, label: false, placeholder: "CUSTOM ZONE TITLE", input_html: { class: 'myclass-create-story '} %>
        <%= f.input :coordinates, as: :hidden, input_html: { class: 'myclass-create-story'} %>
      <div id="map-canvas"></div>
      <div class="lngLat"></div>
      <% end %>
        <div class= "zone-button">
          <%= link_to "Create Zone", dashboard_path, class: "btn-lg btn-storymap btn-storymap-green text-center zone-button" %>
        </div>
    </div>
  </div>
</div>
